doctype html
//- basic libraries: jquery(1.10.2), d3js(3.3.11), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
- var usecdn = false
- var useog = true
- var lib = { jquery: true, d3js: true, angular: true, bootstrap: true, semantic: false }
- var assets = "assets"
- var thumbnail = "http://loading.io/thumbnail.png"
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    title loading.io - Your SVG Ajax Loading Icons 
    // libraries
    include library.jade
    // custom files
    link(rel="icon",type="image/gif",href="/favicon.png")
    link(rel="stylesheet",type="text/css",href="assets/colorpicker/css/colorpicker.css")
    link(rel="stylesheet",type="text/css",href="uiload.css")
    link(rel="stylesheet",type="text/css",href="index.css")
  
    script(type="text/javascript",src="require.js")
    script(type="text/javascript",src="html2canvas.js")
    script(type="text/javascript",src="gif.js")

    script(type-"text/javascript",src="assets/colorpicker/js/bootstrap-colorpicker-module.js")
    script(type="text/javascript",src="rgbcolor.js")
    script(type="text/javascript",src="StackBlur.js")
    script(type="text/javascript",src="canvg.js")

    script(type="text/javascript",src="index.js")
  body(ng-controller="main")
    #nav-top
      nav.navbar.navbar-default(role="navigation")
        .container-fluid
          .navbar-header
            a.navbar-brand(href="#")
              | LOADING.IO
          .collapse.navbar-collapse
            ul.nav.navbar-nav
              li: a#nav-examples(href="#") EXAMPLES
              li: a#nav-compatibility(href="#") COMPATIBILITY
              li: a#nav-more(href="#") MORE
            ul.nav.navbar-nav.pull-right
              li.anim.profile.invis(ng-class="{'invis':!username}"): a(href="#")
                .avatar
                  img(ng-src="http://graph.facebook.com/{{uid}}/picture?type=small",ng-show="uid")
                .name {{username}}
              li.logon(ng-show="!accessToken"): a(href="#",ng-click="login()") LOGIN
              li.logon.ng-hide(ng-show="accessToken"): a(href="#",ng-click="logout()") LOGOUT

    #banner
      .img: img(src="banner.png")
      .title
        | Build Your Web App
        br
        | with Loading Icons in
        big(style="color:#ff9;display:inline-block;-webkit-transform:rotate(5deg);font-weight:900;") SVG
        | !

    #gallery
      .ib
        .glyphicon.glyphicon-cog
        .desc custom
      .ib
        .glyphicon.glyphicon-zoom-in
        .desc responsive
      .ib
        .glyphicon.glyphicon-ok-sign
        .desc simple
      .ib
        .glyphicon.glyphicon-eye-open
        .desc wysiwyg
      .ib
        .glyphicon.glyphicon-leaf
        .desc liteweight
      .ib
        .glyphicon.glyphicon-certificate
        .desc open
      .ib
        .glyphicon.glyphicon-dashboard
        .desc fast
      .ib
        .glyphicon.glyphicon-heart-empty
        .desc lovely
      .ib
        .glyphicon.glyphicon-globe
        .desc universal
      .ib
        .glyphicon.glyphicon-qrcode
        .desc mobile
    #panel
      #tryit
      #making.anim.invis(ng-class="{'invis':!build.making}")
        span(ng-if="build.percent<100") Recording
        span(ng-if="build.percent>=100") Generating
        img(src="res/ellipsis.gif")
        br
        .is {{build.percent}}%

      .row
        .col-md-5
          #demo-panel(ng-attr-style="background:{{build.cbk || '#fff'}}")
          .progress.progress-striped(ng-mousemove="build.resize($event)")
            .progress-bar(role="progressbar",ng-attr-aria-valuenow="{{build.size}}",aria-valuemin="0",aria-valuemax="100",
            ng-attr-style="width:{{build.size}}%;") {{2 * build.size}}px
        .col-md-7
          form
            .row
              div(ng-attr-class="col-sm-{{12 / demoLoader.vars.length}}",ng-repeat="v in demoLoader.vars")
                .form-group
                  label {{v.name}}
                  input.form-control(ng-if="v.type=='color'",type="text",colorpicker,
                  colorpicker-with-input="true",placeholder="e.g., {{v.placeholder}}",ng-model="build['c'+($index+1)]")
                  input.form-control(ng-if="v.type=='px'",type="text",
                  placeholder="e.g., {{v.placeholder}}",ng-model="build['c'+($index+1)]")
                  select.form-control(ng-if="v.type=='choice'",ng-model="build['c'+($index+1)]")
                    option(ng-repeat="u in v.values" ng-attr-value="{{u}}") {{u}}
            .row
              .col-sm-6
                .form-group
                  label speed (second)
                  input.form-control(typ="text",placeholder="e.g., 1.2",ng-model="build.speed")
              .col-sm-6
                .form-group
                  label background color
                  input.form-control(typ="text",colorpicker,colorpicker-with-input="true",
                  placeholder="e.g., #f00",ng-model="build.cbk")
            .form-group
              #play.btn-group
                .btn.btn-default(ng-class="{'active':build.running}",ng-click="build.start()")
                  | Run
                  .glyphicon.glyphicon-play
                .btn.btn-default(ng-class="{'active':!build.running}",ng-click="build.stop()")
                  | Stop
                  .glyphicon.glyphicon-pause
              #build.btn-group
                .btn.btn-default(ng-click="build.makesvg()")
                  | Download SVG
                .btn.btn-default(ng-disabled="demoLoader.mode=='svg'",ng-click="build.makecss()")
                  span(ng-if="demoLoader.mode!='svg'") Download CSS
                  span(ng-if="demoLoader.mode=='svg'") CSS N/A
                .btn.btn-default(ng-click="build.makegif()")
                  | Make GIF
    #chooser
      .item(ng-repeat="t in build.choices",ng-class="{'active':build.type==t}") 
        .delay(delay-bk="res/{{t}}.png",ng-click="build.settype(t)")
    #output-modal.modal.fade(ng-controller="output")
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type="button",data-dismiss="modal",aria-hidden="true") &times;
            h2.modal-title Build Complete!
          .modal-body
            #output-box
            | Here is the requested {{mode}}
            .glyphicon.glyphicon-circle-arrow-up
          .modal-footer
            a#output-box-link.btn.btn-success(href="#") Download {{mode}}
            .btn.btn-default(data-dismiss="modal") Dismiss

    #footer-top
    #footer
      .ib
        a#eula Term of Use
        a#attribution Attribution
        a#about About Us
        .fb-like(style="float:right;",data-href="http://loading.io",data-layout="button_count",data-action="like",data-show-faces="true",data-share="true")

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-49953904-1', 'loading.io');
      ga('send', 'pageview');
    #fb-root
    script.
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1&appId=538062799648166";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
